  <div class="container">
      <div class="row">
          <div class="col d-flex justify-content-center">
              <form [formGroup]="authReactiveForm" (submit)="onSubmit()">
                  <div class="form-group">
                      <label for="Username">Username</label>
                      <input type="text" class="form-control" id="username" placeholder="Enter your Username" formControlName="username">
                      <!--      <div class="error" *ngIf="isControlInvalid('username')">
                              Username должен состоять только из английских букв
                            </div>-->
                  </div>
                  <div class="form-group">
                      <label for="InputEmail1">Email address</label>
                      <input type="email" class="form-control" id="inputEmail1" aria-describedby="emailHelp" placeholder="Enter email" formControlName="email">
                      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <div class="form-group">
                      <label for="InputPassword">Password</label>
                      <input type="password" class="form-control" id="inputPassword" placeholder="Password" formControlName="password">
                  </div>
                  <button type="submit" class="btn btn-primary">Save</button>
              </form>

              <!--
              <div>
                <span>{{authReactiveForm.value | json}}</span>
              </div>-->

          </div>
      </div>
  </div>

