<nav>
    <ul class="nav nav-tabs">
        <li>
            <h2>{{title | uppercase}}</h2>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/product_two']">Product 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/product_one']">Product 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/registration']">Sign up</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/user']">User</a>
        </li>
    </ul>
</nav>

<router-outlet></router-outlet>