<div class="container">
  <div class="row">
    <div class="col">
      <app-rate></app-rate>
    </div>
    <div class="card col">
      <img src="../../../assets/carrot.jpeg" class="card-img-top" alt="apple">
      <div class="card-body">
        <h5 class="card-title">Carrot</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.}</p>
      </div>
      <div class="card-body">
        <a href="#" class="card-link">Estimate</a>
        <button type="button" class="btn-load btn btn-light" *ngIf="show" (click)="onShow()">Load product list</button>
        <button type="button" class="btn-load btn btn-light" *ngIf="!show" (click)="onShow()">And product list</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col" *ngIf="!show">
    <ul class="load-list list-group-item">
      <li *ngFor="let product of products" class="list-group-item">
        <span>{{product.title}}</span>
      </li>
    </ul>
  </div>
</div>