<div class="container">
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label>Please, leave your comment</label>
        <input type="text" class="form-control" placeholder="Enter titile product..." [(ngModel)]="task.title"/>
        <br>
        <input type="text" class="form-control" placeholder="Enter your comment..." [(ngModel)]="task.text"/>
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col">
      <button type="button" class="btn-com btn btn-light" (click)="onAdd()">Add comment</button>

    </div>
    <div class="w-100"></div>
    <div class="col">
      <ul class="list-group">
        <li *ngFor="let task of tasks" class="list-group-item">
          <span>{{task.title}}</span>
          <br>
          <span>{{task.text}}</span>
          <div class="row">
            <div class="col-sm-6">
              <button type="button" class="btn-sm btn btn-outline-danger" (click)="onDelete(task)">Delete</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ul class="load-list list-group-item">
        <li *ngFor="let rate of rates" class="list-group-item">
          <span>{{rate.title}}</span>
          <br>
          <span>{{rate.text}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>

