<div class="container">
  <div class="col-6">
    <ul>
      <li *ngFor="let user of users">
        <p>id: {{user?.id}}</p>
        <p>Username: {{user?.username}}</p>
        <p>Password: {{user?.password}}</p>
        <p>Email: {{user?.email}}</p>
      </li>
    </ul>
  </div>
</div>
